
* {
    margin: auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #a18a96;
    display: grid;
    place-content: center;
    height: 100vh;
}


.card {
    position: relative;
    width: 300px;
    height: 300px;
    color: crimson;
    background: url('./img/pexels-quionie-gaban-12174019.jpg')
    center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

}

.card-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-top-left-radius: 30px;
    transform: translateY(70px);
    transition: transform .25s;
}

.card-content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate (-175deg);
    border-radius: 50%;
    box-shadow:none 48px 48px #fff;
}

.card-title {
    color: crimson;
    line-height: 15px;
}

.card-subtitle {
   color: crimson;
    font-size: 14px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 12px;
    opacity: 0;
    transition: opacity .5s;
}

.card:hover .card-content {
    transform: translateY(0);
}

.card:hover .card-description {
    opacity: 1;
    transition-delay: .25s;
}